@charset "UTF-8";

body{
    margin: 0;
}

header{
    background: #0e0c0c;
    color: white;
    text-align: center;
    padding: 25px;
}

h1{
    color: #fc3;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

h3{
    margin: 0;
    margin-top: 10px;
}

nav{
    background: #555;
}

nav a{
    color: #fc3;
    text-decoration: none;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    background: #444;
}

nav a:hover{
    background: #555;
}

nav a span{
    margin-right: 8px;
}

main{
    display: flex;
}

/*article, aside{
    border: 4px solid red;
} */

/*article, aside{
    border: 4px solid blue;
} */

article, aside{
    padding: 10px;
}

article{
    flex: 2;
    background: #eee;
}

.ninja{
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    border: 1px solid #fc3;
    border-radius: 4px;
    padding: 3px;
}

aside{
    flex: 1;
}

footer{
    display: flex;
    background: #333;
    margin: 0;
    padding: 5px;
}

h4{
    color: #fc3;
    margin-bottom: 0;
}

section{
    flex: 1;
    padding: 14px;
}

section p{
    color: #eee;
}

section h4{
    margin-top: 8px;
}



div#venedig{
    background: url('images/venedig.jpg');
    margin-bottom: 7px;
}

div#sangimignano{
    background: url('images/sangimignano.jpg');
}

aside div section{
    background: rgb(0,0,0,.3);
    padding: 0;
    color: white;
}

aside div{
    background-size: cover;
    padding: 130px 8px 8px 8px;
}

h5{
    margin: 0;
}

div section p{
    margin: 0;
}