body{
    margin: 0;
}

header{
    background: url('images/ice\ cream\ url.webp');
    padding: 100px;
    background-size: cover;
}

nav{
    background-color: aqua;
}

nav a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color: black;
}

nav a:hover{
    background-color: blue;
    color: aqua;
}

main{
    padding-left: 10px;
}

h1{
    font: 30px verdana;
    font-weight: bold;
    color: aqua;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

footer{
    background: aqua;
    padding: 10px;
    margin: 30px;

}